{:deps {reagent                       {:mvn/version "0.10.0" :exclusions [cljsjs/react cljsjs/react-dom]}
        io.vouch/krell                {:git/url "https://github.com/vouch-opensource/krell.git"
                                       :sha     "2ce32a6b02acf8442a98d09f5a0163ded3960288"}
        io.vouch/reagent-react-native {:git/url "https://github.com/vouch-opensource/reagent-react-native.git"
                                       :sha     "54bf52788ab051920ed7641f386177374419e847"}}}
